# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
/nestjs-genai-translation/node_modules
/nestjs-genai-translation/dist
/ng-translation-app/node_modules
/ng-translation-app/dist
/ng-translation-app/.angular/cache
/ng-translation-app/.sass-cache/
/ng-translation-app/connect.lock
/ng-translation-app/coverage
/ng-translation-app/libpeerconnection.log
/ng-translation-apptestem.log
/ng-translation-app/typings

**/**/dist